* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: min-content;
    gap: 2rem;
    place-content: center;
    padding: 2rem;
}

button {
    padding: 0.5em 0.5em;
    margin: 0.25em;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    outline: none;
}

input[type="text"],
input[type="date"] {
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid green;
    outline: none;
    max-width: 160px;
}

.game,
.cart,
.flip-coin-game,
.todo-list {
    border: 2px solid green;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.todo-list {
    text-align: justify;
}

.move-icon {
   height: 30px;
  }

  .coin {
    max-width: 100%;  
    display: block;
    object-fit: cover;
  }

.move-button,
.heads,
.tails {
    background-color: transparent;
    border: 3px solid green;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin-right: 0.5em;
    cursor: pointer;
}

.cart p {
    margin-block: 0.5em;
    font-weight: 600;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    width: 100%;
    max-width: 250px;
    padding: 0.5em;
    border-radius: 10px;
    border: 2px solid green;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    justify-self: center;
}

.calculator button {
    border-radius: 100px;
}

.calculator button:hover { 
    background-color: lightgreen;
    cursor: pointer;
}

.calculator button:focus { 
    background-color: lightsalmon;
    cursor: pointer;
}

.result-display {
    grid-column: 1 / 4;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 50%, 0.526);
}

.reset-buttons {
 display: none;
}

.reset-buttons.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.todo-display,
.todo-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0.5em;
    grid-auto-flow:dense;
}

.delete-todo {
    background-color: red;
}
